<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&amp;family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>RUPG</title>
    <script type="module" src="../controller/main.js"></script>
  </head>
  <body>
    <header>
      <div class="header-left-container">
        <div class="logo-container">
          <span class="material-symbols-outlined"> electric_bolt </span>
          <span class="title">RUPG</span>
        </div>
        <nav class="nav-menu-container">
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a class="nav-menu-item-link" href="#pokemon">
                <span class="material-symbols-outlined">auto_awesome</span>
                <span class="nav-menu-item-link-text">Pokemon</span>
              </a>
            </li>
            <li class="nav-menu-item">
              <a class="nav-menu-item-link" href="#kanye">
                <span class="material-symbols-outlined">format_quote</span>
                <span>Kanye</span>
              </a>
            </li>
            <li class="nav-menu-item">
              <a class="nav-menu-item-link" href="#about">
                <span class="material-symbols-outlined">person_book</span>
                <span>About Me</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-right-container">
        <div class="header-right-divider"></div>
        <div class="header-right-current-user-container">
          <img class="header-right-current-user-avatar" />
          <span class="header-right-current-user-title"></span>
        </div>
      </div>
    </header>
    <main>
      <div class="main-container">
        <aside class="left-side-bar-container">
          <section class="profile-hero-container">
            <div class="profile-hero-card">
              <div class="profile-hero-card-avatar-container">
                <img class="profile-hero-card-avatar" />
                <div class="active-status"></div>
              </div>
              <h1 class="profile-hero-card-username"></h1>
              <p class="profile-hero-card-location-container">
                <span
                  class="material-symbols-outlined text-[16px]"
                  data-icon="location_on"
                  >location_on</span
                >
                <span></span>
              </p>
            </div>
          </section>
          <section class="controls-container">
            <button class="btn btn-primary" data-action="generate">
              <span class="material-symbols-outlined">auto_awesome</span>
              Generate User
            </button>
            <button class="btn btn-secondary" data-action="save">
              <span class="material-symbols-outlined">save</span>
              Save User
            </button>
            <button class="btn btn-danger" data-action="clear">
              <span class="material-symbols-outlined">delete</span>
              Clear Users
            </button>
            <button class="btn btn-secondary" data-action="load">
              <span class="material-symbols-outlined">folder_open</span>
              Load User
            </button>

            <div class="saved-users-dropdown">
              <div class="saved-users-dropdown-container">
                <span class="saved-users-dropdown-container-text"
                  >Select a saved profile...</span
                >
                <span
                  class="material-symbols-outlined clear-selection-icon"
                  data-icon="close"
                  >close</span
                >
                <span
                  class="material-symbols-outlined expand-more-text"
                  data-icon="expand_more"
                  >expand_more</span
                >
              </div>
              <ul class="saved-users-dropdown-content"></ul>
            </div>
          </section>
        </aside>
        <article class="main-container-content-container">
          <section id="pokemon" class="pokemon-card-container">
            <div class="pokemon-info-container">
              <div class="pokemon-info-header-container">
                <span class="pokemon-level"></span>
                <h2 class="pokemon-name"></h2>
              </div>
              <div class="pokemon-type-container">
                <span class="pokemon-type">Water</span>
              </div>
              <div class="pokemon-description-container">
                <p class="pokemon-description"></p>
              </div>
            </div>
            <div class="pokemon-image-container">
              <image class="pokemon-image" />
            </div>
          </section>
          <section id="kanye" class="kanye-card-container">
            <span
              class="material-symbols-outlined format_quote"
              data-icon="format_quote"
              >format_quote</span
            >
            <blockquote class="kanye-quote-text"></blockquote>
            <div class="kanye-card-footer">
              <div class="citation-container"></div>
              <cite class="citation-text">— Kanye West</cite>
            </div>
          </section>
          <section id="about" class="aboutMe-card-container">
            <div class="aboutMe-card-header">
              <span class="material-symbols-outlined" data-icon="person_book"
                >person_book</span
              >
              <h2 class="aboutMe-card-header-title">About Me</h2>
            </div>
            <p class="aboutMe-card-footer-text"></p>
          </section>
        </article>
        <aside class="right-side-bar-container">
          <section class="friends-container">
            <div class="friends-container-header">
              <h2 class="friends-container-header-text">Friends (6)</h2>
            </div>
            <div class="friends-grid">
              <div class="friend-card-container">
                <div class="friend-card-avatar-container">
                  <img class="friend-card-avatar" />
                  <div class="friend-status"></div>
                </div>
                <span class="friend-card-name-text"></span>
              </div>
              <div class="friend-card-container">
                <div class="friend-card-avatar-container">
                  <img class="friend-card-avatar" />
                  <div class="friend-status"></div>
                </div>
                <span class="friend-card-name-text"></span>
              </div>
              <div class="friend-card-container">
                <div class="friend-card-avatar-container">
                  <img class="friend-card-avatar" />
                  <div class="friend-status"></div>
                </div>
                <span class="friend-card-name-text"></span>
              </div>
              <div class="friend-card-container">
                <div class="friend-card-avatar-container">
                  <img class="friend-card-avatar" />
                  <div class="friend-status"></div>
                </div>
                <span class="friend-card-name-text"></span>
              </div>
              <div class="friend-card-container">
                <div class="friend-card-avatar-container">
                  <img class="friend-card-avatar" />
                  <div class="friend-status"></div>
                </div>
                <span class="friend-card-name-text"></span>
              </div>
              <div class="friend-card-container">
                <div class="friend-card-avatar-container">
                  <img class="friend-card-avatar" />
                  <div class="friend-status"></div>
                </div>
                <span class="friend-card-name-text"></span>
              </div>
            </div>
          </section>
        </aside>
      </div>
    </main>
  </body>
</html>
