<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&amp;family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />

    <title>RUPG</title>
  </head>
  <body>
    <header>
      <div class="header-left-container">
        <div class="logo-container">
          <span class="material-symbols-outlined"> electric_bolt </span>
          <span class="title">RUPG</span>
        </div>
        <nav class="nav-menu-container">
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a class="nav-menu-item-link">
                <span class="material-symbols-outlined">auto_awesome</span>
                <span class="nav-menu-item-link-text">Generate</span>
              </a>
            </li>
            <li class="nav-menu-item">
              <a class="nav-menu-item-link">
                <span class="material-symbols-outlined">group</span>
                <span>Friends</span>
              </a>
            </li>
            <li class="nav-menu-item">
              <a class="nav-menu-item-link">
                <span class="material-symbols-outlined">inventory_2</span>
                <span>Vault</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header-right-container">
        <div class="header-right-divider"></div>
        <div class="header-right-current-user-container">
          <img class="header-right-current-user-avatar" />
          <span class="header-right-current-user-title">TZ</span>
        </div>
      </div>
    </header>
    <main>
      <div class="main-container">
        <aside class="left-side-bar-container">
          <section class="profile-hero-container">
            <div class="profile-hero-card">
              <div class="profile-hero-card-avatar-container">
                <img class="profile-hero-card-avatar" />
                <div class="active-status"></div>
              </div>
              <h1 class="profile-hero-card-username">Tuval Zitelbach</h1>
              <p class="profile-hero-card-location-container">
                <span
                  class="material-symbols-outlined text-[16px]"
                  data-icon="location_on"
                  >location_on</span
                >
                <span>Yoqneam,IL</span>
              </p>
            </div>
          </section>
          <section class="controls-container">
            <button class="btnGenerateUsers">
              <span class="material-symbols-outlined" data-icon="auto_awesome"
                >auto_awesome</span
              >
              Generate User
            </button>
            <button class="btnGenerateUsers">
              <span class="material-symbols-outlined" data-icon="auto_awesome"
                >save</span
              >
              Save User
            </button>
            <button class="btnGenerateUsers">
              <span class="material-symbols-outlined" data-icon="auto_awesome"
                >folder_open</span
              >
              Load User
            </button>
          </section>
        </aside>
        <article class="main-container-content-container"></article>
        <aside class="right-side-bar-container"></aside>
      </div>
    </main>
  </body>
</html>
